<!doctype html>
    <body>
        <table class="table table-hover">
            <thead>
                <th>ID</th>
                <th>Link</th>
            </thead>
            <tbody>
                {% for p in places %}
                    <tr>
                        <td>#</td>
                        <td>{{ p.link }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
    <script>
        Array.prototype.forEach.call(document.querySelectorAll('.mdl-card__media'), function(el) {
          var link = el.querySelector('a');
          if(!link) {
            return;
          }
          var target = link.getAttribute('href');
          if(!target) {
            return;
          }
          el.addEventListener('click', function() {
            location.href = target;
          });
        });
    </script>
</html>
