<!doctype html>
<head>
  <title> Locograph - {{ place.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <h1>{{ place.title }}</h1>
  {{ place.info }}
  <br/><br/>

  <h1>Subscribers</h1>
    <ul>
      {% for s in subscribers %}
      <li>{{ s.email }}</li>
      {% endfor %}
    </ul>

  <br/><br/>
  <form action="" method="POST">
    <span>Email</span>
    <input type="text" name="email" required>
    <input type="submit" value="Subscribe">
  </form>

</body>
</html>
